@import '~react-input-range/src/scss/input-range/_input-range-variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

.money-button {
  $slider-size: 60px;
  $clearBlue: rgb(38, 105, 255);
  $gray: rgb(79, 95, 109);

  width: 182px;
  height: 42px;
  margin-top: 20px;
  border-radius: 30px;
  border: 9px solid rgb(248, 248, 250);

  display: flex;
  justify-content: flex-start;
  position: relative;
  background-color: white;
  background-clip: content-box;

  &.success-theme {
    background-color: rgb(109, 193, 16);
    border-color: rgba(109, 193, 16, 0.4);
  }

  &.error-theme {
    background-color: rgb(245, 166, 35);
    border-color: rgba(245, 166, 35, 0.4);
  }

  .value-input-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: hidden;
    padding-left: $slider-size;

    display: flex;
    flex-direction: row;
    align-items: center;

    .value-input-currency {
      font-family: 'Roboto', sans-serif;
      font-size: 21px;
      color: $gray;
    }

    .value-input {
      font-family: 'Roboto', sans-serif;
      font-size: 21px;
      font-weight: bold;
      height: 100%;
      width: 40%;
      color: $gray;

      background: transparent;
      border: 0;
      padding-left: 5px;

      &:focus {
        outline: none;
      }
    }

    .loading-title {
      font-family: 'Roboto', sans-serif;
      font-size: 21px;
      color: rgb(144, 148, 156);
    }

    .success-title,
    .error-title {
      font-family: 'Roboto', sans-serif;
      font-size: 21px;
      color: white;
    }

    .success-title-value {
      font-family: 'Roboto', sans-serif;
      font-size: 21px;
      font-weight: bold;
      color: white;
    }
  }

  .input-range__track {
    height: 42px;
    width: 78%;
    border-radius: 24px;
    position: relative;
    background: white;
  }

  .input-range__slider {
    background: rgb(38, 105, 255);
    border: none !important;
    width: $slider-size;
    height: $slider-size;
    top: -41px;
    left: -1px;
    position: absolute;
    background-image: url('./relay.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0.5px 1px 1px 0.5px rgba(0, 0, 0, 0.29);

    z-index: 2;

    &:active {
      transform: none;
    }
  }

  .input-range__track--background {
    top: 18%;
  }

  .input-range__track--active {
    background: rgb(107, 161, 255);
    border-radius: 24px 0 0 24px;
    z-index: 2;

    transition: $input-range-track-transition, background-color 400ms linear;
  }

  .slider-wrapper {
    width: 100%;
    height: 100%;
  }

  .success-theme {
    .input-range__track {
      background-color: rgb(109, 193, 16);
      width: 100%;
    }

    .input-range__slider {
      background-image: url('./success.png');
      background-size: 45%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgb(109, 193, 16);
      box-shadow: 0.5px 1px 1px 0.5px rgba(0, 0, 0, 0.29);
    }
  }

  .completed-theme {
    .input-range__track--active {
      background-color: $clearBlue;
    }
  }

  .empty-theme {
    .input-range__slider {
      opacity: 0.5;
    }
  }

  .loading-theme {
    .input-range__track {
      background-color: rgb(215, 215, 219);
      width: 100%;
    }

    .input-range__slider {
      background-image: url('./loading.png');
      background-size: 45%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $clearBlue;
      animation: rotate 5s linear infinite;
      box-shadow: 0.5px 1px 1px 0.5px rgba(0, 0, 0, 0.29);
    }
  }

  .error-theme {
    .input-range__track {
      background-color: rgb(245, 166, 35);
      width: 100%;
    }

    .input-range__slider {
      background-image: url('./error.png');
      background-size: 45%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgb(245, 166, 35);
      box-shadow: 0.5px 1px 1px 0.5px rgba(0, 0, 0, 0.29);
    }
  }
}


@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}